@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  list-style-type: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  color: #fff;
  text-decoration: none;
}

body {
  font-size: 16px;
  background-color: $color1;
}

.text-green {
  color: #008000;
}

.text-red {
  color: #b11010;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 26px;
}

input {
  background-color: $color1;
  border: 1px solid transparent;
  padding: 10px 20px;
  display: block;
  width: 100%;
  outline: none;
  border-radius: 10px;

  @include transitioned;

  &:focus {
    @include shadowed;
  }
}

.text-light {
  opacity: 0.5;
  font-size: 12px;
}

.text-secondary-1 {
  color: $color5;
}

.btn {
  background-color: $color1;
  border-radius: 10px;
  height: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  padding: 8px 26px;

  @include transitioned;

  &:hover {
    transform: scale(1.04);

    @include shadowed;
  }

  .btn-text {
    color: #fff;
  }
}
