@mixin transitioned {
  transition: 0.4s ease;
}

@mixin shadowed {
  box-shadow: rgba(42, 42, 42, 0.15) 0px 5px 15px;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #888;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f1f1f1;
}
