@import "./colors";
@import "./utilities-2";
@import "./utilities";

#main-layout {
  height: 100vh;
  display: flex;

  & > * {
  }

  .nav {
    padding: 40px 20px;
    width: 130px;
    text-align: center;
    background-color: $color2;

    .logo {
      font-size: 26px;
      font-weight: bold;
      margin-bottom: 3rem;
    }

    .nav-main {
      display: flex;
      flex-direction: column;
      align-items: center;

      a {
        width: 70px;
        height: 70px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;

        @include transitioned;

        &:hover {
          background-color: $color1;
          box-shadow: 0 0 10px rgb(35, 35, 35);
        }
      }
    }
  }

  .right-wrap {
    overflow: auto;
    flex-grow: 1;
  }

  .main-layout-content {
    display: flex;
    flex-direction: column;

    .top-section {
      background-color: $color3;
      padding: 1.5rem;
      overflow-x: hidden;
      flex-shrink: 0;

      .main-row {
        --bs-gutter-x: 100px;
      }

      input {
        max-width: 300px;
      }

      ul {
        li {
          opacity: 0.5;
          font-size: 12px;
        }
      }

      .cards {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .card {
          position: relative;
          border-radius: 20px;
          padding: 16px 26px;
          background-color: $color1;
          min-width: 130px;
          @include shadowed;

          &::before {
            content: "";
            position: absolute;
            left: 12px;
            border-radius: 10px;
            height: calc(100% - 32px);
            width: 4px;
            background-color: $color4;
          }

          .card-head {
            opacity: 0.5;
            font-size: 14px;
            font-weight: bold;
          }
        }
      }
    }

    .main-section {
      // padding: 20px;
    }
  }

  .stats-section {
    position: sticky;
    top: 0;
  }
}

.checkout-items {
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;

  .ceckout-item {
    display: flex;
    align-items: center;
    background-color: $color2;
    border-radius: 10px;
    margin-bottom: 10px;

    @include shadowed;

    & > * {
      flex-grow: 1;
      padding: 20px;
      height: 100%;

      &:last-child {
        border-right: 0;
      }
    }

    .img {
      max-width: 180px;

      img {
        width: 50px;
      }
    }
  }
}

.layout-right-main-row {
  & > * {
    &:nth-child(2) {
      background-color: $color2;
    }
  }
}
